<div class="roomDetails">
  <h2>Room details</h2>
  <a class="btn btn-small btn-warning" (click)="editRoom()">edit</a>
  <a class="btn btn-small btn-warning">delete</a>
  <table>
    <tr>
      <td>id</td><td>{{room.id}}</td>
    </tr>
    <tr>
      <td>name</td><td>{{room.name}}</td>
    </tr>
    <tr>
      <td>location</td><td>{{room.location}}</td>
    </tr>
  </table>
  <h4>This room can accomodate:</h4>
  <table>
    <tr *ngFor="let layoutcapacity of room.capacities"> <!-- repeat the tr for each capacity -->
      <td>{{layoutcapacity.capacity}}</td><td>{{layoutcapacity.layout}}</td>
    </tr>
  </table>
</div>
